# Node.js dependencies
client/node_modules/

# Next.js build files
client/.next/
client/out/
client/build/

# Python virtual environment
server/venv/

# Misc
.DS_Store
*.pem
.env*
.vercel
